<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../../static/css/style.css"
	th:href="@{/css/style.css}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap"
	rel="stylesheet">
</head>

<body>
	<div th:fragment="content">
	
		<div class="menubtn">
		
		
		
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<h2>대한민국 여기저기</h2>
					<h3>국내 여행 정보를 자유롭게 공유해보세요.</h3>
					<div class="row1 img-part">
						<div class="col-4">
							<figure>
								<div class="circle">
									<img src="../imgs/jeju.jpg">
								</div>
								<figcaption>
									<h3>제목</h3>
									<p>내용</p>
								</figcaption>
							</figure>
						</div>

						<div class="col-4">
							<figure>
								<div class="circle">
									<img src="../imgs/jeju.jpg">
								</div>
								<figcaption>
									<h3>제목</h3>
									<p>내용</p>
								</figcaption>
							</figure>
						</div>

						<div class="col-4">
							<figure>
								<div class="circle">
									<img src="../imgs/jeju.jpg">
								</div>
								<figcaption>
									<h3>제목</h3>
									<p>내용</p>
								</figcaption>
							</figure>
						</div>

						<div class="col-4">
							<figure>
								<div class="circle">
									<img src="../imgs/jeju.jpg">
								</div>
								<figcaption>
									<h3>제목</h3>
									<p>내용</p>
								</figcaption>
							</figure>
						</div>
					</div>

					<!-- <div class="img1"></div> -->
					<!-- <p>대한민국 여기저기, 아름다운 국내 여행지로 즐거운 여행 다녀오세요!</p> -->

					<!-- <h3>Some Links</h3>
					<p>Lorem ipsum dolor sit ame.</p>
					<ul class="nav nav-pills flex-column">
						<li class="nav-item"><a class="nav-link active" href="#">Active</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
						<li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a>
						</li>
					</ul> -->

					<br>
					<!-- <hr class="d-sm-none"> -->

				</div>
				<div class="col-sm-8">
					<h2>대한민국 여기저기 추천 테마여행!</h2>
					<h3>알록달록한 가을을 느껴보세요.</h3>
					<div class="img2"></div>
					<p>
						<strong>[전라북도 정읍시]내장산 오색단풍길</strong>
					</p>
					<p>내장산오색단풍길은 가을이 오면 단풍으로 온통 붉게 물든다. 화려하게 빛나는 가을 단풍을 보기 위해 수많은
						단풍객, 등산객, 드라이브객 등이 찾지만 코로나19 시대 내장산오색단풍길 관람은 드라이브스루가 제격이다. 내장산의
						부드러운 능선을 따라 이어진 약 8.4km의 단풍로드는 국도 29호선과 국지도 49호선을 거쳐 정읍시 내장동
						부전사거리부터 내장산 탐방안내소까지 이어지는 길로 오롯이 단풍만을 볼 수 있다.</p>

					<br>
					<br>
					<br>
					<h2>SNS 인기 여행지</h2>
					<h3>대한민국구석구석 인스타그램 추천 여행지를 소개합니다.</h3>
					<div class="img3"></div>
					<p>
						<strong>[강원 영월군]젊은달 와이파크</strong>
					</p>
					<p>젊은달와이파크는 2014년에 오픈한 술샘박물관을 재생공간으로 재탄생시킨 복합예술공간이다. 다양한 현대미술
						작품들과 여러 박물관, 공방이 합쳐진 복합예술공간으로서 조각가 최옥영의 공간기획으로 새롭게 탄생한 현대미술공간이다.
						영월 주천면에 위차한 자연 속의 젊은달와이파크는 최옥영의 시그니처 컬러인 붉은색을 사용한 작품인 붉은대나무,
						붉은파빌리온, 목성(木星) 등으로 공간을 구성하였으며, 방문하는 사람들로 하여금 작가의 의도처럼 ''우주'' 속을
						거니는 것 같이 느끼게 한다. 최옥영의 공간작업을 통하여 재생공간으로 탄생시킨 곳이 이 곳 ''젊은달와이파크'' 이며
						총 11개의 경관으로 나뉘어진 거대한 미술관이자 대지미술 공간이다.</p>

					<br> <br>
				</div>
			</div>
		</div>

		<!-- <div class="container" style="margin-top: 30px">
			<div class="row">
				<div class="col-sm-4">
					<h2>대한민국 여기저기</h2>
					<h3>국내 여행 정보를 자유롭게 공유해보세요.</h3>
					<div class="img1">
						<img src="imgs/jeju.jpg">
					</div>
					<p>대한민국 여기저기의 아름다운 국내 여행지로 즐거운 여행 다녀오세요!</p>
					<h3>Some Links</h3>
					<p>Lorem ipsum dolor sit ame.</p>
					<ul class="nav nav-pills flex-column">
						<li class="nav-item"><a class="nav-link active" href="#">Active</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
						<li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a>
						</li>
					</ul>

					<br>

					<hr>
				</div>


				<div class="col-sm-8">
					<h2>대한민국 여기저기 추천 테마여행!</h2>
					<h3>알록달록한 가을을 느껴보세요.</h3>
					<div class="img1">
						<img src="imgs/naejangsan.PNG">
					</div>
					<p>
						<strong>내장산 오색단풍길</strong>
					</p>
					<p>내장산오색단풍길은 가을이 오면 단풍으로 온통 붉게 물든다. 화려하게 빛나는 가을 단풍을 보기 위해 수많은
						단풍객, 등산객, 드라이브객 등이 찾지만 코로나19 시대 내장산오색단풍길 관람은 드라이브스루가 제격이다. 내장산의
						부드러운 능선을 따라 이어진 약 8.4km의 단풍로드는 국도 29호선과 국지도 49호선을 거쳐 정읍시 내장동
						부전사거리부터 내장산 탐방안내소까지 이어지는 길로 오롯이 단풍만을 볼 수 있다.</p>

					<br>

					<hr>



					<h2>SNS 인기 여행지</h2>
					<h3>대한민국구석구석 인스타그램 추천 여행지를 소개합니다.</h3>
					<div class="img1">
						<img src="imgs/ypark.PNG">
					</div>
					<p>
						<strong>[강원 영월군]젊은달 와이파크</strong>
					</p>
					<p>젊은달와이파크는 2014년에 오픈한 술샘박물관을 재생공간으로 재탄생시킨 복합예술공간이다. 다양한 현대미술
						작품들과 여러 박물관, 공방이 합쳐진 복합예술곤간으로서 조각가 최옥영의 공간기획으로 새롭게 탄생한 현대미술공간이다.
						영월 주천면에 위차한 자연 속의 젊은달와이파크는 최옥영의 시그니처 컬러인 붉은색을 사용한 작품인 붉은대나무,
						붉은파빌리온, 목성(木星) 등으로 공간을 구성하였으며, 방문하는 사람들로 하여금 작가의 의도처럼 ''우주'' 속을
						거니는 것 같이 느끼게 한다. 최옥영의 공간작업을 통하여 재생공간으로 탄생시킨 곳이 이 곳 ''젊은달와이파크'' 이며
						총 11개의 경관으로 나뉘어진 거대한 미술관이자 대지미술 공간이다.</p>

					<br>
				</div>
			</div>
		</div> -->


	</div>


</body>
</html>
