<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="../../static/css/style.css"
	th:href="@{/css/style.css}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap"
	rel="stylesheet">
</head>
<body>

	<div class="footer" th:fragment="footer">

		<div class="footer_text" align="center">Copyright © 2021 대한민국 여기저기. All rights reserved</div>

	</div>

</body>
</html>
